* {
  font-family: sans-serif;
}

h1{
  font-family: sans-serif;
  color: rgb(0, 0, 141);
  left: 432px; 
  position: absolute;
  top: 10px;
}
input{
  position: absolute;
  top:120px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  left: 432px;
}
form p{
  position: absolute;
  left: 438px;
  top: 60px;
  font-size: 25px;
}
/* input {
  display: block;
  margin-bottom: 20px;
  position: absolute;
  left: 432px;
  top: 120px;
} */
button {
  border: 1px solid rgb(10, 0, 102);
  background: rgb(32, 3, 99);
  color: beige;
  font-size: 15px;
  margin-right: 5px;
  position: relative;
  display: inline-block;
  top: 150px;
  padding: 10px;
  border-radius: 10px;

}
button:nth-last-child(6){
  position: absolute;
  top: 190px;
  left: 432px;
}
button:nth-last-child(5){
  position: absolute;
  top: 190px;
  left: 487px;
}
button:nth-last-child(4){
  position: absolute;
  top: 190px;
  left: 575px;
}
button:nth-last-child(3){
  position: absolute;
  top: 190px;
  left: 660px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: rgb(155, 133, 12);
  border: 1px solid rgb(174, 177, 8);
  color: white;
}
button:nth-last-child(2){
  position: absolute;
  top: 190px;
  left: 749px;
}
button:nth-last-child(1){
  position: absolute;
  top: 130px;
  left: 740px;
}

